.article{
    background-color: $darkblue2;
    padding: 1px;
    background-image: url("https:/Fylo-dark-theme/images/bg-quotes.png");
    background-repeat: no-repeat;
    background-position: 20px 0px;
    @include breakpoint-up(large){
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 150px 60px;
        background-image: url("https:/Fylo-dark-theme/images/bg-quotes.png");
        background-repeat: no-repeat;
        background-position: 58px 146px;
    }

    &__card{
        margin: 33px 36px;
        background-color:$darkblue4;
        border-radius: 4px;
        box-shadow: 0px 3px 12px rgba(0,0,0,0.15);

        
    }

    &__bottom{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left:  30px;
        padding-right:  30px;
        padding-bottom:  20px;
    }

    &__description{
        padding-left:  30px;
        padding-right:  30px;
        padding-bottom: 20px;
        padding-top: 20px;
        font-family: 'Open Sans', sans-serif;
        color: white;
        font-size: 0.875rem;
        line-height: 1.8;
        
    }

    &__image{
        img{
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
    }

    &__info{
        margin-left: 10px;
        color: white;
    }

    &__name{
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
    }
    &__title{
        font-family: 'Open Sans', sans-serif;
    }

   
}